
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">ACS STORE</a>

    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products:products-list' %}">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products:sales-list' %}">Sales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products:sale-create' %}">Create Sale</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
