{% extends "base/base.html" %}

{% block title %}
Products
{% endblock %}

{% block content %}
<div class="d-flex p-2">
<table class="table-bordered table-sm">
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Price</th>
        <th>Shop</th>
    </tr>
    {% for product in object_list %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{product.title}}</td>
        <td>{{product.category}}</td>
        <td>{{product.amount}}</td>
        <td>{{product.price}}</td>
        <td>{{product.shop}}</td>
    </tr>
    {% endfor %}
</table>
</div>
<div>
    <hr>
    <form method="GET">
        {{ form.as_p }}
    <input type="submit" value="OK">
</form>
</div>
<div>
    <hr>
    <table>
        {% for prod in products %}
        <tr>
            <td>{{ prod.title }}</td>
            <td>{{ prod.price }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
