{% extends "base.html" %}

{% block content %}

<form action='.' method='GET'>
    <select name='sale_cat'>
        <option value='-1'>---</option>
        {% for cat in categories %}
            <option value='{{ cat.pk }}'>{{ cat.title }}</option>
        {% endfor %}
    </select>
    <select name='sale_shop'>
        <option value='-1'>---</option>
        {% for shop in shops %}
            <option value='{{ shop.pk }}' >{{ shop.address }}</option>
        {% endfor %}
    </select>
    <input type='submit' value='Filter'>
</form>

<div class='d-flex p-2'>
    <table style='border: 1px solid black; border-collapse: collapse;'>
        <tr>
            <th style='border: 1px solid black;'>#</th>
            <th style='border: 1px solid black;'>Date</th>
            <th style='border: 1px solid black;'>Product</th>
            <th style='border: 1px solid black;'>Amount</th>
            <th style='border: 1px solid black;'>Price</th>
        </tr>
        {% for sale in sales %}
        <tr>
            <td style='border: 1px solid black;'>{{forloop.counter}}</td>
            <td style='border: 1px solid black;'>{{sale.date_time}}</td>
            <td style='border: 1px solid black;'>{{sale.product}}</td>
            <td style='border: 1px solid black;'>{{sale.amount}}</td>
            <td style='border: 1px solid black;'>{{sale.price}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}
