{% extends "base/base.html" %}
{% load static %}

{% block title %}
Sales
{% endblock %}

{% block content %}
<form action='.' method='GET'>
    <select name='sale_cat'>
        <option value='-1'>---</option>
        {% for cat in categories %}
            <option value='{{ cat.pk }}'>{{ cat.title }}</option>
        {% endfor %}
    </select>
    <select name='sale_shop'>
        <option value='-1'>---</option>
        {% for shop in shops %}
            <option value='{{ shop.pk }}' >{{ shop.address }}</option>
        {% endfor %}
    </select>
    <input type='submit' value='Filter'>
</form>

<div class='d-flex p-2'>
    <table class="table-bordered table-sm">
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Product</th>
            <th>Amount</th>
            <th>Price</th>
        </tr>
        {% for sale in sales %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{sale.date_time}}</td>
            <td>{{sale.product}}</td>
            <td>{{sale.amount}}</td>
            <td>{{sale.price}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
